footer.page-footer
    .container
        .page-footer-menu
            ul.page-footer-menu__items#accordion
                li.page-footer-menu__item
                    .page-footer-menu__title Покупателям
                    ul.submenu__items
                        li.submenu__item
                            a(href="#").submenu__link О компании
                        li.submenu__item
                            a(href="#").submenu__link Акции
                        li.submenu__item
                            a(href="#").submenu__link Магазины
                        li.submenu__item
                            a(href="#").submenu__link Новости
                        li.submenu__item
                            a(href="#").submenu__link Товары
                        li.submenu__item
                            a(href="#").submenu__link Напишите нам

                li.page-footer-menu__item
                    .page-footer-menu__title Партнерам
                    ul.submenu__items
                        li.submenu__item
                            a(href="#").submenu__link Поставщики
                        li.submenu__item
                            a(href="#").submenu__link Строительств и эксплуатация
                        li.submenu__item
                            a(href="#").submenu__link Аутстаффинг
                        li.submenu__item
                            a(href="#").submenu__link Франчайзинг
                        li.submenu__item
                            a(href="#").submenu__link Субаренда

                li.page-footer-menu__item
                    .page-footer-menu__title Карьера
                    ul.submenu__items
                        li.submenu__item
                            a(href="#").submenu__link Истории успеха
                        li.submenu__item
                            a(href="#").submenu__link Работа в магазине
                        li.submenu__item
                            a(href="#").submenu__link Работа в офисе
                        li.submenu__item
                            a(href="#").submenu__link Мероприятия
                        li.submenu__item
                            a(href="#").submenu__link HR обучение
                        li.submenu__item
                            a(href="#").submenu__link Работа в логистике

                li.page-footer-menu__item
                    .page-footer-menu__title Обратная связь
                    ul.submenu__items
                        li.submenu__item
                            a(href="#").submenu__link Напишите нам
                        li.submenu__item
                            a(href="#").submenu__link Закажите звонок

        .page-footer-info
            a(href="index.html").page-footer__logo
                img(src="assets/img/pictures/5-logo-grey.png" alt="logo").page-footer__logo-img
            .page-footer-info__text Головной офис:
            .page-footer-info__address Адрес: 109029, Москва, Средняя Калитниковская ул., д. 28, стр. 4.
            a(href="tel:4956628888").page-footer-info__phone Телефон: (495) 662-88-88
